@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-swal {
    background-color: #333;
    /* Background color */
    color: #fff;
    /* Text color */
}

.custom-swal .swal2-title {
    color: #ffcc00;
    /* Title color */
}

.custom-swal .swal2-icon {
    color: #ffcc00;
    /* Icon color */
}